<script type="text/ng-template" id="loginModalDialog">
    <form id="login" class="horizontal">
        <div class="modal-header bg-primary">
            <h3 class="modal-title">Login</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <label for="txtUsername">Username</label>
                            <input type="text" class="form-control" id="txtUsername" placeholder="Username"
                                   ng-model="username">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Password</label>
                            <input type="password" class="form-control" id="txtPassword" placeholder="Password"
                                   ng-model="password">
                        </div>
                        <div id="appendto"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btnLogin" type="submit" ng-click="ok()" autofocus>OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
        <span kendo-notification="notificationCenter" k-options="notificationCenterOptions"></span>
    </form>

</script>

<script>
    $(document).bind('keypress', function (e) {
        if (e.keyCode == 13) {
            $('#btnLogin').click();
            //console.log($('#btnLogin'));
        }

    });

</script>

