<div class="row">
    <div class="col-md-4">
        <div ng-controller="videolengthController">
            <button class="btn btn-primary" type="button" ng-click="getNewVideoData()">Get New VDO Data</button>
        </div>

    </div>
    <div class="col-md-4">
        <div ng-controller="teacherController">
            <button class="btn btn-default " type="button" ng-click="getNewTeacherData()">Get New Teacher Data</button>
        </div>

    </div>
   <!-- <div class="col-md-4">
        <div ng-controller="">
            <button class="btn btn-default " type="button">Get New Period Data</button>
        </div>

    </div>-->
</div>

<span kendo-notification="notificationCenter" k-options="notificationCenterOptions"></span>