<div class="row">
    <br/>
    <div class="col-md-2">
        <button class="btn btn-primary width-100p" ng-click="btnGenerateTokenClicked()">Generate Token</button>
        <!--<button class="btn btn-primary" ng-click="btnCreateNewUserClicked()">Create New User</button>-->
    </div>
    <div class="col-md-2">
        <div ng-controller="teacherController">
            <button class="btn btn-primary width-100p" type="button" ng-click="getNewTeacherData()">Get New Teacher Data</button>
        </div>
    </div>
    <div class="col-md-2">
        <!--<a href="#/import">Import</a>-->
        <div ng-controller="videolengthController">
            <button class="btn btn-primary width-100p" type="button" ng-click="getNewVideoData()">Get New VDO Data</button>
        </div>
    </div>

    <div class="col-md-6">
    </div>
</div>
<hr/>
<div class="row">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="row">
                <label class="control-label col-sm-2" for="txtUsername">Username:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="txtUsername" name="txtUsername" ng-model="NewUsername"
                           placeholder="Username" maxlength="10">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-sm-2" for="txtPassword">Password:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="txtPassword" name="txtPassword" ng-model="Password"
                           placeholder="Password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-sm-2" for="ddlRole">Password:</label>
                <div class="col-sm-4">
                    <select id="ddlRole" name="ddlRole" class="form-control">
                        <option value="5">Admin</option>
                        <option value="1">คณะบดี</option>
                        <option value="2">อาจารย์</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary" ng-click="btnCreateNewUserClicked()">Create New User</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="grdUser" kendo-grid="grdUser" k-options="grdUserOptions"></div>
    </div>
</div>
<br/>
<hr/>
<h1 class="page-title" data-ng-bind="zerotitle"></h1>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div id="grdZeroVdo" kendo-grid="grdZeroVdo" k-options="grdZeroVdoOptions"></div>
    </div>
</div>
<span kendo-notification="notificationCenter" k-options="notificationCenterOptions"></span>